<!-- <template name="chat">
	{{#if isReady "chat"}}
	<div class="chat-window" style="float: right; width: 32%;">
		<div class="chat-body">
			<div class="chat-from-user">
				{{#each message in messages}}
				<div class="chat">
					<div class="chat-txt {{#if equals message.userId paramId}} chat-from-cb {{else}} chat-from-user{{/if}}">
						{{#if equals message.type 'text'}}
						<p class="message-text">{{message.text}}</p>
						{{/if}}
						{{#if equals message.type 'image'}}
						<img class="image-list-thumb chat" ng-src="{{image}}" width="100%" />
						{{/if}}
						<b>{{message.timestamp}}</b>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="send-msg">
			<input name="message" dir="auto" type="text" placeholder="How can i help you?"/>
			<button id="message" class="mdl-button mdl-js-button mdl-button-raised mdl-js-ripple-effect mdl-button-accent" ng-click="sendMessage(chatId)">Send</button>
		</div>
	</div>
	{{else}}
	Loading
	{{/if}}
</template> -->