<template name="header">
	<header class="mdl-layout__header navbar shadow">
        <div class="mdl-layout__header-row">
            <button class="c-hamburger c-hamburger--htla">
                <span>toggle menu</span>
            </button>
            <div class="responsive-logo">
                CareBuddy <br><span class="smaller">Dashboard</span>
            </div>

            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a href="/dashboard/sms" class="mdl-button mdl-js-button nav-button">SMS</a>
                <a href="/logout" class="mdl-button mdl-js-button nav-button">Logout</a>
            </nav>
            {{lastestMsg}}
        </div>
    </header>
</template>