<template name="scrollableTabs">
	<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
		{{#each tabs}}
		<a href="#users-{{this}}" class="mdl-layout__tab">{{this}}</a>
		{{/each}}
	</div>
</template>