.records{
	.record-upload{
		main{
			h5{
				text-align: center;
				margin: 38px 0;
			}
		}
	}
	.record-added{
		.drop-list{
			box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
			max-width: 850px;
			margin: 10px auto 0;
			.drop-head{
				cursor: pointer;
				background-color: #71b9cd;
			    display: flex;
			    align-items: flex-start;
			    position: relative;
			    img{
			    	width: 29px;
			    	margin: 10px;
			    }
			    label{
			    	color: #fff;
			    	line-height: 1.5;
			    	margin-top: 7px;
			    	padding-left: 10px;
			    	h5,h6{
			    		margin: 0;
			    	}
			    	h5{
			    		font-size: 14px !important;
			    	}
			    	h6{
			    		color: #FFFFFF;
			    	}
			    }
			    .material-icons{
			    	right: 10px;		
			    	top: 10px;
			    	position: absolute !important;
			    }
			    &.active{
			    	background-color: #5f5f5f;
			    	.material-icons{
			    		//@include transform(rotate(180deg));
			    	}
			    }
			}
			.drop-body{
				//@include box-sizing(border-box);
				display: none;
				.added-record-img{
					text-align: center;
					img{
					    width: 60%;
					}
				}
				table{
					border-left: 1px solid #F2F2F2;
					border-right: 1px solid #F2F2F2;
					//@include box-sizing(border-box);
					width: 100%;
					tr{
						&:nth-child(odd) {
						    background-color: #f2f2f2;
						}
						span{
							float: right;
						}
						td, th {
							width: 50%;
							//@include box-sizing(border-box);
						    padding: 15px;
						    text-align: left;
						    //float: left;
						}
					}
				}
				.app-delete{
					background-color: #71b9cd;
					height: 25px;
					i{
						font-size: 20px;
						    margin: 3px 30px 0 0;
					}
				}
			}
		}
	}
}

.medicine{
	.medicine-form{
		form{
			background-color: #fff;
			.medi-row{
				background: #F9F9F9;
				padding: 12px 18px;
				//@include box-sizing(border-box);
				border-radius: 6px;
				margin-top: 14px;
				header{
					font-size: 18px;
					color: #000;
					margin-top: 10px;
					font-weight: bold;
				}
			}
		}
	}
	.medicine-order-detail{
		.order-info{
			border: 1px solid #5f5f5f;
			border-radius: 3px;
			overflow: hidden;
			padding: 15px;
			line-height: 1.3;
			margin-top: 20px;
			h2{
				font-weight: bold;
			}
			h5{
				line-height: 1.6;
			}
			span{
				cursor: pointer;
				margin-top: 14px;
				font-weight: bold;
				color: #0fc0e1;
				border-bottom: 1px solid #0fc0e1;
				padding-bottom: 5px;
				font-size: 18px;
				display: inline-block;
				float: right;
				i{
					margin-right: 10px;
					font-size: 20px;
					vertical-align: middle;
				}
			}
		}
	}
}
.medicine-full-detail{
	padding: 20px;
	.medi-info{
		border-bottom: 1px solid #5f5f5f;
		border-radius: 3px;
		overflow: hidden;
		padding: 15px;
		line-height: 1.3;
		margin-bottom: 20px;
		h6{
			margin: 5px 0 0;
			font-size: 15px !important;
		}	

	}
	.medi-pre{
		img{
			width: 80%;
		}
	}
	.medicine-address-info{
		padding: 15px;
	}
	.medi-add{
		margin-top: 15px;
		float: left;
		h5{
			margin: 5px 0 0;
			font-size: 15px;
		}
	}
}

.mdl-data-table__cell--non-numeric {
	white-space: normal;
}