ul li{
	list-style: none;
}

.list-group {
    float: left;
    width: 100%;
}

.full-popup{
	width: 100%;
	height: 100%;
	background: rgba(17,193,243,.3);
	position: fixed;
	top: 0;
	left: 80px;
	bottom: 0;
	right: 0;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;

}

.popup-part{
	height: 50%;
	width: 60%;
	background-color: #fff;
	border: 1px solid #11c1f3;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 99999;
	top: 50%;

	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);

}
.popup-part i{
	position: absolute;
    right: -24px;
    top: -26px;
    font-size: 25px;
    cursor: pointer;
}
.full-popup.active{
	opacity: 1;
	visibility: visible;
}
.full-popup.active .popup-part{
	-webkit-transform: translateY(-50%) translateX(-50%);
	   -moz-transform: translateY(-50%) translateX(-50%);
	    -ms-transform: translateY(-50%) translateX(-50%);
	     -o-transform: translateY(-50%) translateX(-50%);
	        transform: translateY(-50%) translateX(-50%);
}



.course{
	text-align: center;
	float: right;
	overflow: hidden;
	width: 90%;
}
.course .container{

}
.heading{
	padding: 15px 0px;
}
.heading h2{
	font-size: 40px;
	color: #2a4767;
}
.tabs ul{
	display: inline-block;
	padding: 15px 0px;
}
.tabs ul li{
	float: left;
	font-size: 15px;
	padding: 0px 52px;
	color: #323c82;
}
.tabs ul li a{
	padding-bottom: 15px;
	text-decoration: none;
	color: #009788;
}
.tabs ul li a:hover{
	border-bottom: 3px solid #323c82;
}
.tabs ul li a.active{
	border-bottom: 3px solid #eb4827;
	color: #eb4827;
}
.tabs ul li i{
	margin-right: 10px;
}
#tab-two{
	display: none;
}
#tab-three{
	display: none;
}
.tab-part{
	color: #464646;
	background-color: #f3f7f9;
    padding-top: 50px;
    line-height: 1.2;
    padding-bottom: 20px;
}
.tab-body{
	font-size: 70px;
}
/**** Chat Start ****/
.chat-body::-webkit-scrollbar {
    width: 8px;
}
.chat-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 60px rgba(0,0,0,0.3);
}
.chat-body::-webkit-scrollbar-thumb {
  background-color: #11c1f3;
}

.chat-window{
	position: relative;
	overflow: hidden;
}
.chat-body{
	background: #b2e5e5;
	bottom: 0;
	width: 100%;
	height: 500px;
	overflow: auto;
}
.chat-parent{
	float: right;
	height: 50px;
}
.chat-from-user .chat{
	width: 100%;
	overflow: hidden;
	line-height: 1.3;
	position: relative;
}
.chat-from-user .chat-txt{
	margin: 15px 0px 0px 45px;
	padding: 8px 10px 8px;
	width: auto;
	display: inline-block;
	max-width: 70%;
	background-color: #959595;
	border-radius: 1.3em 1.3em 1.3em 0em;
	float: left;
	overflow: hidden;
	color: #fff;
	min-width: 140px;
}
.chat-from-user b{
	font-size: 10px;
	color: #fff;
	float: right;
}
.chat-from-user .text-short{
	left: 3px;
	background: transparent;
}
.chat-parent .chat-msg{
	position: relative;
	width: 100%;
	overflow: hidden;
	line-height: 1.2;
}
.chat-msg .msg-color{
	margin: 15px 45px 0px 0px;
	padding: 8px 10px 8px;
	width: auto;
	display: inline-block;
	max-width: 70%;
	background-color: #0fc0e1;
	border-radius: 1.3em 1.3em 0em 1.3em;
	float: right;
	overflow: hidden;
	min-width: 140px;
}
.chat-msg .msg-txt{
	padding: 5px 0px;
}
.chat-msg .msg-date{
	font-size: 10px;
	float: right;
	color: #fff;
}
.text-short{
	position: absolute;
	right: 0;
	color: #fff;
	border: 1px solid #fff;
	height: 35px;
	width: 35px;
	bottom: 0;
	border-radius: 50%;
	line-height: 36px;
	text-align: center;
	margin-right: 3px;
	letter-spacing: 2px;
	background: dimgrey;
}

.chat-parent .input-send-msg{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	height: 50px;
	text-align: center;
}
.input-send-msg input{
	font-size: 14px;
	height: 30px;
	width: 80%;
	border: 1px solid $logo-color;
	background-color: #e4dfdf;
	color: #000; 	
	margin-top: 12px;
	padding-left: 10px;
	border-radius: 6px;
	outline: none;
	box-sizing: border-box;
}
.input-send-msg .mdi{
	cursor: pointer;
	font-size: 30px;
	color: $logo-color;
	position: absolute;
    top: 12px;
	width: 50px;
	text-align: center;
}
.mdi-camera{
	left: 10px;
	text-align: center;
}
.mdi-camera input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
	width: 30px;
}
.mdi-send{
	right: 10px;
	text-align: center;
}

.chat-txt.chat-from-cb {
    border-radius: 1.3em 1.3em 0;
    float: right;
    margin: 15px 15px 0 45px;
    background-color: #0fc0e1;
	color: #000;
}

/**** Chat End ****/

/**** Appointments Start ****/

.app{
	float: left;
}
.appointment{
	letter-spacing: 1px;
	word-spacing: 1px;
	margin-top: 20px;
}
.appointment .container{

}

.new-appointment{

}
.new-appointment .book-new-app-tab{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	padding: 0px 15px;
	display: inline-block;
	border-radius: 6px;
	background-color: #02a6d8;
}
.new-appointment .book-new-app-tab h3{
	margin: 0;
}
.new-popup{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.7);
	position: fixed;
	top: 0;
	left: 0px;
	bottom: 0;
	right: 0;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
}
.new-popup .popup-body{
	height: 400px;
	overflow: auto;
	width: 60%;
	background-color: #fff;
	border: 1px solid #11c1f3;
	position: absolute;
	z-index: 99999;
	padding: 20px;
	top: 20%;
	left: 18%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:  transform 0.5s ease, opacity 0.6s ease;
	   -moz-transition:  transform 0.5s ease, opacity 0.6s ease;
	    -ms-transition:  transform 0.5s ease, opacity 0.6s ease;
	     -o-transition:  transform 0.5s ease, opacity 0.6s ease;
	        transition:  transform 0.5s ease, opacity 0.6s ease;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	     -o-transform: translateY(50%);
	        transform: translateY(50%);

}
.new-popup .popup-body .mdi{
	position: absolute;
	font-size: 25px;
	top: 0;
	right: 0;
	color: #000;
}

.new-popup.active{
	opacity: 1;
	visibility: visible;
}
.new-popup.active .popup-body{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(-10%);
	   -moz-transform: translateY(-10%);
	    -ms-transform: translateY(-10%);
	     -o-transform: translateY(-10%);
	        transform: translateY(-10%);
}
.user-list{
	border-bottom: 1px solid;
}
.user-list input{
		padding: 14px 10px 5px;
		margin: 10px;
		width: 85%;
		border: none;
		background-color: transparent;
		outline: none;
	    margin-left: 5%;
		letter-spacing: 2px;
		color: #5f5f5f;
}
.btn input{
	width: 100%;
	background-color: #02a6d8;
	border: none;
	padding: 10px;
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
	border-radius: 6px
}
.user-list .user-dropdown{
	position: relative;
	overflow: hidden;
}
.user-list select{
	padding: 14px 10px 5px;
	margin: 10px;
	margin-left: 4%;
	font-size: 14px;
	color: #5f5f5f;
	background: transparent;
	width: 90%;
}

.appointment .app-tabs{
	width: 500px;
	background-color: #5f5f5f;
	overflow: hidden;
	color: #fff;
	padding: 0px 15px;
	box-sizing: border-box;
}
.appointment h2{
	float: left;
	width: 40%;
	margin: 15px 0px;
	font-size: 16px;
}
.appointment h3{
	float: left;
	width: 50%;
	margin: 15px 0px;
	font-size: 14px;
	text-align: right;
}
.appointment .mdi-chevron-down{
	float: right;
	text-align: right;
	width: 10%;
	font-size: 20px;
	margin: 15px 0px;
}
.appointment .mdi-chevron-down.active{
	text-align: left;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.appointment table{
	background-color: #eee;
	padding: 40px;
	width: 500px;
	border: 1px solid;
	display: none;
	box-sizing: border-box;
}
.appointment table tr{
	text-align: left;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.appointment table th{
	width: 200px;
	font-size: 19px;
}
.appointment table th span{
	float: right;
}
.appointment table td{
	font-size: 18px;
	color: #5f5f5f;
	padding-left: 20px;
}

.dropdown{
	width: 200px;
	float: right;
	height: 50px;
	background: #5f5f5f;
	line-height: 50px;
	border-radius: 6px;
	text-align: center;
}
.dropdown header{
	color: #fff;

}
.dropdown .drop-part{
	display: none;
	box-sizing:border-box;
	background-color: #fff;
	box-shadow: 0px 0px 10px #5f5f5f;
	margin: 0;
	padding: 0;
}

/**** Appointments End ****/

.chat-txt .chat-from-cb{
	background-color: #0fc0e1 !important;
	color: #000 !important;
	margin: 15px 45px 0px 0px !important;
	padding: 8px 10px 8px !important;
	width: auto !important;
	display: inline-block !important;
	max-width: 70% !important;
	background-color: #0fc0e1 !important;
	border-radius: 1.3em 1.3em 0em 1.3em !important;
	float: right !important;
	overflow: hidden !important;
	min-width: 140px !important;
}
.chat-body{
	height: 90% !important;
	background-color: #fff !important;
	overflow: auto !important;
}
/*.nav-polls{
	overflow: hidden !important;
	padding: 0px !important;
}
.nav-pills li{
	float: left !important;
    padding: 6px 25px !important;
    text-align: center !important;
    background-color: rgb(255,64,129) !important;
    margin: 0px 10px;
        border-radius: 6px;
}
.nav-pills li a{
	color: #fff !important;
	text-decoration: none !important;
}*/
.page-header{
	padding-left: 10px !important;
}

.chat-window{
	height: 90vh !important;
	width: 30% !important;
	overflow: hidden !important;
}
.chat-body{
	height: 90% !important;
}
.send-msg{
	height: 10% !important;
}
.send-msg input{
	width: 85% !important;
	box-sizing: border-box !important;
	height: 36px !important;
	border-bottom: 1px solid rgb(255,64,129) !important;
	border: none !important;
	padding-left: 10px !important;
	outline: none !important;
}
.send-msg button{
	width: 15% !important;
	position: absolute !important;
	height: 36px !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

.profile-content{
	width: 63.4%;
	margin-left: 0;
}

/*---- Sidebar Start ----*/
.extended .sidebar .short-text {
    display: none;
}
.sidebar .scrollbar {
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: 70px;
	padding-top: 0;
	height: 90% !important;
}
.sidebar .top-logo {
	width: 30px;
}

.sidebar .dashboard-menu ul.menu-list li a {
    padding-right: 0;
}

.mdl-layout__header-row {
	padding: 0 40px 0 0;
}
/*---- Sidebar End ----*/
/*---- Page Start ----*/
.profile-content div.cover-photo {
	height: 160px;
}
/*---- Page End ----*/

/*----- Version 3 -----*/
.mdl-layout__header.navbar {
    background: white none repeat scroll 0 0;
}
.page-content.animsition {
    opacity: 1;
}
.mdl-card.bg2 {
    background: rgba(0, 0, 0, 0) url("/images/portrait1.jpg") repeat scroll center center / cover ;
}