<template name="recordValues">
	<form id="record-values">
		<div class="mdl-grid">
			<div class="mdl-cell--6-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input name="date" type="date" class="datepicker mdl-textfield__input" id="date" required>
					<label class="mdl-textfield__label" for="date">Date</label>
				</div>
			</div>

			<div class="mdl-cell--6-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input name="time" type="time" class="mdl-textfield__input" id="time" require>
					<label class="mdl-textfield__label" for="time">Time</label>
				</div>
			</div>
		</div>

		<div class="mdl-grid">
			<div class="mdl-cell--4-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<input type="text" name="values" id="values" class="mdl-textfield__input" required>
					<label class="mdl-textfield__label" for="values">Values</label>
				</div>
			</div>

			<div class="mdl-cell--8-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
					<select name="signs" class="mdl-textfield__input">
						<option value="">Select a sign</option>
						<option value="Temperature">Temperature</option>
						<option value="Pulse">Pulse</option>
						<option value="Blood Pressure">Blood pressure</option>
						<option value="Blood Sugar">Blood suger</option>
						<option value="Body Temperature">Body temperature</option>
					</select>
					<label class="mdl-textfield__label">Vital Signs</label>
				</div>
			</div>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<select name="measurement" class="mdl-textfield__input">
				<option value="">Select a measurement value</option>
				<option value="Celsius">Celsius</option>
				<option value="Fahrenheit">Fahrenheit</option>
				<option value="mm/Hg">mm/Hg</option>
				<option value="mg/l">mg/l</option>
			</select>
			<label class="mdl-textfield__label">Measurement</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<textarea id="comment-record" name="comments" placeholder="Comments"></textarea>
			<label for="comment-record" class="mdl-textfield__label">Comments</label>
		</div>
		<br>
		<input type="submit" class="remodal-confirm mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect send" value="Submit">
	</form>
</template>