<template name="medicine">
	<div class="medicine">
		<div class="mdl-grid">
			{{#if this}}
			{{#each this}}
			<div class="col mdl-cell mdl-cell--12-col">
				<div class="demo-card-square mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
						<h2 class="mdl-card__title-text">{{medicineName}}</h2>
					</div>
					<div class="mdl-card__supporting-text">
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
								<span>Order ID:</span> 
							</div>
							<div class="mdl-cell mdl-cell--6-col mdl-cell--5-col-tablet mdl-cell--2-col-phone">
								<b>{{_id}}</b>
							</div>
							<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
								<span>Medicine Name:</span> 
							</div>
							<div class="mdl-cell mdl-cell--6-col mdl-cell--5-col-tablet mdl-cell--2-col-phone">
								<b>{{medicineName}}</b>
							</div>
							<div class="delivery-method mdl-cell mdl-cell--12-col">
								<b>{{createdAt}}</b>
							</div>
						</div>
					</div>	
					<div class="mdl-card__actions mdl-card--border">
						<a order-id="{{_id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect show-modal refresh">
							Details
						</a>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<p>No medicine order yet.</p>
			{{/if}}
		</div>
	</div>
	{{> orderDetails}}
</template>