<template name="login">
	<form id="login-form">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input name="email" class="mdl-textfield__input" type="email"/>
			<label class="mdl-textfield__label" for="email">username or email</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
			<input name="password" class="mdl-textfield__input" type="password"/>
			<label class="mdl-textfield__label" for="password">Password</label>
		</div>
		<div class="buttons">
			<span class="signup">
				<a href="/register">Register here</a>
			</span>
			<div class="link">
				<input type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
			</div>
		</div>
	</form>
</template>