<template name="members">
	{{#if Template.subscriptionsReady}}
	<div class="mdl-grid">
		{{#if this}}
		<!-- {{#each this}}
		<div class="mdl-card mdl-shadow-2dp demo-card-wide mdl-cell mdl-cell-4-col bg2">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">
					<span class="smaller">&nbsp; <i style="font-size: 10px;" class="mdi {{#if status.online}} mdi mdi-checkbox-blank-circle{{else}}mdi-checkbox-blank-circle-outline{{/if}}"></i></span>
				</h2>
			</div>
			<div class="mdl-card__supporting-text">

			</div>
			<div class="mdl-card__actions mdl-card-border">
				<a href="/dashboard/user/{{_id}}" class="mdl-button mdl-button-colored mdl-js-button mdl-js-ripple-effect">
					View
				</a>
			</div>
		</div>
		{{/each}} -->
		{{#each this}}
		<div class="mdl-card mdl-shadow--2dp demo-card-wide mdl-cell mdl-cell--4-col bg2">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">
					{{type}}<span class="smaller">&nbsp; <i style="font-size: 10px;" class="mdi {{#if status.online}} mdi mdi-checkbox-blank-circle{{else}}mdi-checkbox-blank-circle-outline{{/if}}"></i></span>
				</h2>
			</div>
			<div class="mdl-card__supporting-text">
				{{#if name}} 
					{{name}}
				{{else}}
					{{#if profile.name}} 
						{{profile.name}} 
					{{else}}
						{{profile.firstName}} {{profile.lastName}}
					{{/if}}
				{{/if}}<br>
				Phone-no.: 
				{{#if phone}} 
				{{phone}}
				{{else}}
				{{username}}
				{{/if}}<br>
				Added: {{added}}
			</div>
			<div class="mdl-card__actions  mdl-card--border">
				<a href="/dashboard/user/{{#if this.userId}} {{this.userId}} {{else}} {{_id}} {{/if}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					View
				</a>
			</div>
		</div>
		{{/each}}
		{{else}}
		<p>No members added.</p>
		{{/if}}
	</div>
	{{else}}
	<p>Loading...</p>
	{{/if}}
</template>
