/* responsive dashboard */

.responsive-logo {
    display: none;
}
@media screen and (max-width: 839px) {
    .extended {
        .sidebar {
            left: 0;
            .top-logo-extended {
                width:210px;

            }
            .dashboard-menu ul.menu-list li a {
                font-size:15px;
            }
        }
        .navbar {
            margin-left: 210px;
            width: calc(100% - 210px);
        }
        .profile-content {
           width:100vw;
        }
        .page-content {
            width:100vw;
        }
        img.sidebar-profile {
            margin-top: 30px !important;
        }
        .info {
            top: 120px !important;
            right: 60px !important;
            .pen {
                top: 10px !important;
                right: -40px !important;
            }
        }
        .responsive-logo {
            display: none;
        }
    }
        .responsive-logo {
            color: $primary;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            text-align: -webkit-center;
            top: 15px;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 500;
            text-align:center;
            .smaller {
                font-size: 15px;
                letter-spacing: 1.1px;
                font-weight: 100;
                margin-left: -6px;
            }
        }
    .navbar {
        margin-left: 0;
        width: 100%;
    }
    .sidebar {
        left: -235px;
    }
    .page-content {
        padding-left: 15px;
    }
    .mdl-layout__header-row {
        padding-left: 2px;
    }
    .small-sidebar {
        &.extended {            
            .sidebar {
                left: 0; 
                .dashboard-menu {
                    ul.menu-list {
                        margin-top: 0;
                        li {
                            a {
                                line-height: auto;
                                display: block;
                                font-size: 14px;
                                width: auto;
                                span.text {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
            .profile-content {
        	   width:100vw;
            }
        	.page-content {
        		width:100vw;
        	}
        	.responsive-logo {
        		display: none;
        	}
        	.mdl-layout__header-row {
    	    	padding-left: 72px;
    	    }        
        }
    }
}
@media screen and (max-width: 600px) {
    .navbar {
        nav.right {
            display: none;
        }
        .navbar-menu {
            display: none;
        }
        .buy {
            display: none;  
        }
    }
    .dialog-lg {
        width:90%;
    }
}