<template name="appointments">
	<div class="inbox">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col">
				<div class="panel-header">
					Book Appointment
				</div>
				<div class="panel-body forms">
					<form id="appoint-form">
						<div class="user-list">
							<div class="user-dropdown">
								<select name="type" required >
									<option value="">Select Appointment type</option>
									<option value="Lab Test">Lab Test</option>
									<option value="Doctor Appointment">Doctor Appointment</option>
									<option value="Home Care">Home Care</option>
								</select>
							</div>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
							<input class="mdl-textfield__input"  name="name" type="text" id="Name" required/>
							<label class="mdl-textfield__label" for="Name">Name</label>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
							<input class="mdl-textfield__input"  name="number" type="number" id="number" required/>
							<label class="mdl-textfield__label" for="number">Phone Number</label>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
							<input class="mdl-textfield__input"  name="date" type="date" id="date" required/>
							<label class="mdl-textfield__label" for="date">Date</label>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
							<input class="mdl-textfield__input"  name="time" type="time" id="time" required/>
							<label class="mdl-textfield__label" for="time">Time</label>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
							<textarea name="address" type="address" placeholder="Address" required></textarea>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
							<textarea name="comments" placeholder="Comments"></textarea>
						</div>
						<br>

						<button id="cancel" class="remodal-cancel mdl-button mdl-js-button mdl-button-raised mdl-js-ripple-effect cancel">Cancel</button>
						<input type="submit" class="remodal-confirm mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect send" value="Book">
					</form>
				</div>	
			</div>
			<div class="mdl-cell mdl-cell--6-col">
				<div class="content">
					{{#if this}}
					{{#each this}}
					<div class="collapse-card shadow" style="margin-bottom: 5px;">
						<div class="collapse-card__heading">
							<div class="collapse-card__title">
								<span class="sender left"><i class="mdi mdi-account"></i>{{appointmentType}} <i class="mdi mdi-check-all"></i></span> <span class="subjecth"></span><span class="time right">{{appointmentDate}} {{appointmentTime}}</span>
							</div>
						</div>
						<div class="collapse-card__body">
							<div class="subject">
								{{appointmentName}}
							</div>
							<div class="body">
								<p>Phone - {{appointmentPhone}}</p>
								<p>Address - {{appointmentAddress}}</p>
								<p>Commnets - {{appointmentComments}}</p>
							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<p>No appointments found.</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>
