<template name="orderDetails">
	<div class="remodal shadow" data-remodal-id="orderDetails" data-remodal-options="closeOnOutsideClick: false">
		<button data-remodal-action="close" class="remodal-close"></button>
		<div class="panel-header">Order Detail</div>
		<div class="modal-body">
			{{#each orderDetail}}
			<div class="medicine-full-detail body">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<span class="price">Order ID: </span><b>{{_id}}</b>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<span class="price">Medicine Name: </span> <b>{{medicineName}}</b>
					</div>
					<div class="mdl-cell mdl-cell--12-col">
						<span class="delivery-method">{{createdAt}}</span>
					</div>
				</div>	
				<div class="medicine-address-info">
					<div class="medi-pre half-field">
						<img class="responsive-img" src="{{url}}">
					</div>
					<div class="medi-add half-field">
						<div class="mdl-grid">
							<div class="mdl-cell mdl-cell--12-col">
								<span class="price">House Number - </span><b>{{house}}</b>
							</div>
							<div class="mdl-cell mdl-cell--12-col">
								<span class="price">Street - </span><b>{{street}}</b>
							</div>
							<div class="mdl-cell mdl-cell--12-col">
								<span class="price">Location - </span><b>{{location}}</b>
							</div>
							<div class="mdl-cell mdl-cell--12-col">
								<span class="price">Pin - </span><b>{{pin}}</b>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</template>