<template name="records">
	{{#if Template.subscriptionsReady}}
	<div class="inbox">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col">
				<div class="panel-header">
					Add Record
				</div>
				<div class="panel-body forms">
					<div class="collapse-card shadow" style="margin-bottom: 5px;">
						<div class="collapse-card__heading">
							<div class="collapse-card__title">
								<span class="sender left">Record (Values)</span>
							</div>
						</div>
						<div class="collapse-card__body">
							{{> recordValues}}
						</div>
					</div>
					
					<div class="collapse-card shadow" style="margin-bottom: 5px;">
						<div class="collapse-card__heading">
							<div class="collapse-card__title">
								<span class="sender left">Record (Image)</span>
							</div>
						</div>
						<div class="collapse-card__body">
							{{> recordDetails}}
						</div>
					</div>
				</div>	
			</div>
			<div class="mdl-cell mdl-cell--6-col">
				<div class="content">
					<div class="records">
						{{#if this}}
						<div class="record-added">
							<ul class="collapsible popout" data-collapsible="accordion">
								{{#each this}}
								{{#if equals type 'value'}}
								<li class="drop-list">
									<div class="drop-head">
										<img src="/images/medical-appointment.png">
										<label>
											<h5>Records<span>({{type}})</span></h5>
											<h6>{{createdAt}}</h6><i class="material-icons right">keyboard_arrow_down</i>
										</label>
									</div>

									<div class="drop-body">
										<table class="striped">
											<tr>
												<th>Vital signs<span>:</span></th>
												<td>{{signs}}</td>
											</tr>
											<tr>
												<th>Value<span>:</span></th>
												<td>{{values}}</td>
											</tr>
											<tr>
												<th>Measurement<span>:</span></th>
												<td>{{measurement}}</td>
											</tr>
											<tr>
												<th>Date<span>:</span></th>
												<td>{{date}}</td>
											</tr>
											<tr>
												<th>Comments<span>:</span></th>
												<td>{{comments}}</td>
											</tr>
										</table>
									</div>
								</li>
								{{else}}
								<li class="drop-list">
									<div class="drop-head">
										<img src="/images/medical-appointment.png">
										<label>
											<h5>Records<span>({{type}})</span></h5>
											<h6>{{createdAt}}</h6><i class="material-icons right">keyboard_arrow_down</i>
										</label>
									</div>
									<div class="drop-body">
										<div class="row">
											<div class="col s3">
												<div class="added-img added-record-img">
													<a href="{{url}}" data-lightbox="image-1" data-title="{{record}}"><img class="shadow" src="{{url}}" alt=""></a>
												</div>
											</div>
											<div class="col s9">
												<table class="striped">
													<tr>
														<th>Record type<span>:</span></th>
														<td>{{record}}</td>
													</tr>
													<tr>
														<th>Date<span>:</span></th>
														<td>{{date}}</td>
													</tr>
													<tr>
														<th>Comments<span>:</span></th>
														<td>{{comments}}</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</li>
								{{/if}}
								{{/each}}
							</ul>
						</div>
						{{else}}
						<p>No records found</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<p>Loading...</p>
	{{/if}}
</template>