<template name="sms">
	<div class="inbox">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col">
				<div class="mdl-grid" style="margin-top:15px;">
					<div class="mdl-cell shadow mdl-cell--12-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
						<div class="panel-header">
							Send SMS
						</div>
						<div class="panel-body forms">
							<form id="sms-form">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
									<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="phone" />
									<label class="mdl-textfield__label" for="phone">Number...</label>
									<span class="mdl-textfield__error">Input is not a number!</span>
								</div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
									<input class="mdl-textfield__input" type="text" name="message" />
									<label class="mdl-textfield__label" for="message">Text...</label>
								</div>
								<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Submit">
							</form>
						</div>
					</div>
				</div>		
			</div>
			<div class="mdl-cell mdl-cell--8-col">
				<div class="content">
					{{#each sent}}
					<div class="collapse-card shadow" style="margin-bottom: 5px;">
						<div class="collapse-card__heading">
							<div class="collapse-card__title">
								<span class="sender left"><i class="mdi mdi-account"></i>{{this.userPhone}} {{#if this.status.statusCode}}<i class="mdi mdi-check-all"></i>{{/if}}</span> <span class="subjecth"></span><span class="time right">{{this.createdAt}}</span>
							</div>
						</div>
						<div class="collapse-card__body">
							<div class="subject">
							</div>
							<div class="body">
								<p>{{this.message}}</p>
							</div>
							<div class="footer">
								{{#if this.status.statusCode}}
								Status Code - {{this.status.statusCode}}<br>
								{{this.status.content}}
								{{else}}
								Error Code - {{this.status.error.code}}<br>
								Error sending sms
								{{/if}}
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>