<template name="recordDetails">
	<form id="records-detail">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input type="date" name="imgDate" class="datepicker mdl-textfield__input">
			<label class="mdl-textfield__label">date</label>
		</div>

		<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
			<select name="imgRecordType" class="mdl-textfield__input">
				<option value="">Select record Type</option>
				<option value="Bill">Bill</option>
				<option value="Prescription">Prescription</option>
				<option value="Report">Report</option>
			</select>
			<label class="mdl-textfield__label">Record type</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input id="myFileInput" name="imgRecord" type="file" required>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<textarea id="comment-record" name="imgComments" class="materialize-textarea mdl-textfield__input"></textarea>
			<label for="comment-record" class="mdl-textfield__label button--icon">Comments</label>
		</div>
		<input type="submit" class="remodal-confirm mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect send" value="Submit">
	</form>
</template>