<template name="welcome">
	<div class="not-found">
		<a class="mdl-button mdl-js-button primary mdl-js-ripple-effect mdl-button--raised mdl-layout--large-screen-only" href="/register">
			Register
		</a>
		<a class="mdl-button mdl-js-button primary mdl-js-ripple-effect mdl-button--raised mdl-layout--large-screen-only" href="/login">
			Login
		</a>
	</div>
</template>