<template name="appLayout">
	<div class="login-overlay">
		<div class="logo">
			CareBuddy <br> <span class="smaller">Dashboard</span>
		</div>
		<div class="form-container shadow">
			<div class="icon">
				<a href=""><i class="mdi mdi-account-circle"></i></a>
				<div class="header">
					{{routeName}}
				</div>
			</div>
			<div class="inputs">
				{{> Template.dynamic template=template}}
			</div>
		</div>
	</div>
	{{> footer}}
</template>