<template name="dashLayout">
	{{> meteorStatus style=true lang='en' position='top' overlay=true}}
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		{{> header}}
		{{> sidebar}}
		<main class="mdl-layout__content content-holder">
			<div class="page-content remodal-bg animsition" style="max-width: 100%; padding: 70px 0 0 80px;">
				{{> Template.dynamic template=area}}
			</div>
		</main>
	</div>
</template>