<template name="profile">
	<div class="info-container">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col">
				<form id="profile-form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="name">
						<label class="mdl-textfield__label button--icon" for="name">Name</label>
						<span class="mdl-textfield__error">Name is not valid</span>
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="date" name="dob">
						<label class="mdl-textfield__label" for="dob">Date of Birth</label>
					</div>
					<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<label class="mdl-textfield__label" for="password">Blood Group</label>
						<select class="mdl-textfield__input" name="blood">
							<option value="">Choose your blood group</option>
							<option value="A +ve">A +ve</option>
							<option value="A -ve">A -ve</option>
							<option value="B +ve">B +ve</option>
							<option value="B -ve">B -ve</option>
							<option value="AB +ve">AB +ve</option>
							<option value="AB -ve">AB -ve</option>
							<option value="O +ve">O +ve</option>
							<option value="O -ve">AB -ve</option>
						</select>
					</div>
					<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<label class="mdl-textfield__label" for="password">Allergies</label>
						<select name="allergies" class="mdl-textfield__input">
							<option value="">Choose allergy type</option>
							<option value="Asthma">Asthma</option>
							<option value="Drug Allergy">Drug Allergy</option>
							<option value="Food Allergy">Food Allergy</option>
							<option value="Skin Allergy">Skin Allergy</option>
							<option value="Nothing">Nothing</option>
						</select>
					</div>
					<input type="submit" value="Submit" class="btn btn-large">	
				</form>
			</div>
			
			<div class="mdl-cell mdl-cell--6-col">
				<div class="cell">
					<table class="mdl-data-table mdl-js-data-table shadow">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric" colspan="2">Personal <i class="mdi mdi-account left"></i> <i class="mdi mdi-pencil right"></i></th>                             
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Name</td>
								<td class="mdl-data-table__cell--non-numeric">
									{{#if this.profile}}
									{{#if this.profile.name}}
									{{this.profile.name}} 
									{{else}}
									{{this.profile.firstName}} {{this.profile.lastName}}
									{{/if}}
									{{else}}
									{{this.userDetails.profile.name}}
									{{/if}}
								</td>                                    
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Email</td>
								<td class="mdl-data-table__cell--non-numeric">{{this.emails.[0].address}}</td>                                    
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Date of Birth</td>
								<td class="mdl-data-table__cell--non-numeric">
									{{#if this.profile}}
									{{this.profile.dob}}
									{{else}}
									{{this.userDetails.profile.dob}}
									{{/if}}
								</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Blood Group</td>
								<td class="mdl-data-table__cell--non-numeric">
									{{#if this.profile}}
									{{this.profile.blood}}
									{{else}}
									{{this.userDetails.profile.blood}}
									{{/if}}
								</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Allergies</td>
								<td class="mdl-data-table__cell--non-numeric">
									{{#if this.profile}}
									{{this.profile.allergies}}
									{{else}}
									{{this.userDetails.profile.allergies}}
									{{/if}}
								</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Phone</td>
								<td class="mdl-data-table__cell--non-numeric">{{this.username}}</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">last Login</td>
								<td class="mdl-data-table__cell--non-numeric">{{this.status.lastLogin.date}}</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Last Login IP Address</td>
								<td class="mdl-data-table__cell--non-numeric">{{this.status.lastLogin.ipAddr}}</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">User Agent</td>
								<td class="mdl-data-table__cell--non-numeric">{{this.status.lastLogin.userAgent}}</td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Joined</td>
								<td class="mdl-data-table__cell--non-numeric">{{this.createdAt}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>