<template name="sidebar">
	<aside id="" class="sidebar">
		<div class="top-logo">
			C
		</div>
		<div class="top-logo-extended">
			CareBuddy <br/> <span class="smaller">dashboard</span>
		</div>
		<div class="scrollbar" id="scroll">
			<div class="user-info">
				<div class="opacity">
					<a href="/dashboard/profile"><img src="/images/profile.jpg" alt="" class="sidebar-profile"></a>
					<div class="info">
						<br /> <span class="smaller"></span>
						<div class="pen">
							<a href="#" class=""><i class="mdi mdi-border-color"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="dashboard-menu">
				<ul class="menu-list">
					{{#each allUsers}}
					<li class=""> 
						<a dataId="{{_id}}" href="/dashboard/user/{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i style="font-size: 10px;" class="mdi {{#if this.status.online}} mdi mdi-checkbox-blank-circle{{else}}mdi-checkbox-blank-circle-outline{{/if}}"></i>
							<span class="short-text">
								{{#if this.userDetails.profile.name}}
								{{this.userDetails.profile.name.[0]}} 
								{{else}}
								{{this.username.[0]}}
								{{/if}}
							</span> &nbsp;
							<span class="text"> 
								{{#if this.userDetails.profile.name}}
								{{this.userDetails.profile.name}} 
								{{else}}
								{{this.username}}
								{{/if}}
							</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</aside>
</template>