<template name="footer">
	<footer class="mdl-mini-footer login-footer">
		<div class="mdl-mini-footer__left-section">
			<div class="mdl-logo">&copy;CareBuddy Dashboard</div>
		</div>
		<div class="mdl-mini-footer__right-section">
			<div class="mdl-logo">Terms and Conditions Apply</div>
		</div>
	</footer>
</template>