<template name="user">
    <div class="profile-content" style="width: 70%; float: left;">
        <div class="cover-photo">
            <div class="opacity-overlay relative">
                <div class="profile-info absolute">
                    <div class="profile-photo">
                    </div>
                    <div class="profile-desc">
                        {{#if userInfo.userDetails.profile.name}} 
                        {{userInfo.userDetails.profile.name}} 
                        {{else}}
                        {{userInfo.username}}
                        {{/if}}<span class="smaller">&nbsp; <i style="font-size: 10px;" class="mdi {{#if status.online}} mdi mdi-checkbox-blank-circle{{else}}mdi-checkbox-blank-circle-outline{{/if}}"></i></span>
                    </div>
                </div>
                <div class="buttons absolute">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="profile-button">
                        <i class="mdi mdi-settings"></i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="profile-button">
                        <li class="mdl-menu__item">Some Action</li>
                        <li class="mdl-menu__item">Another Action</li>
                        <li disabled class="mdl-menu__item">Disabled Action</li>
                        <li class="mdl-menu__item">Yet Another Action</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-body" style="padding: 30px 0;">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect is-upgraded">
                <div class="mdl-tabs__tab-bar">
                    <a data-template="profile" role="presentation" href="#" class="mdl-tabs__tab is-active">Profile</a>
                    <a data-template="members" role="presentation" href="#" class="mdl-tabs__tab">Members</a>
                    <a data-template="appointments" role="presentation" href="#" class="mdl-tabs__tab">Appointments</a>
                    <a data-template="records" role="presentation" href="#" class="mdl-tabs__tab">Records</a>
                    <a data-template="medicine" role="presentation" href="#" class="mdl-tabs__tab">Medicine Orders</a>
                </div>
                <div class="mdl-tabs__panel is-active">
                    {{> Template.dynamic template=tab data=tabData}}
                </div>
            </div>
        </div>
    </div>
    {{#if isReady "chat"}}
    <div class="chat-window" style="float: right; width: 32%;">
        <div class="chat-body">
            <div class="chat-from-user">
                {{#each message in messages}}
                <div class="chat">
                    <div class="chat-txt {{#if equals message.userId paramId}} chat-from-cb {{else}} chat-from-user{{/if}}">
                        {{#if equals message.type 'text'}}
                        <p class="message-text">{{message.text}}</p>
                        {{/if}}
                        {{#if equals message.type 'image'}}
                        <img class="image-list-thumb chat" src="{{message.image}}" width="100%" />
                        {{/if}}
                        <b>{{message.timestamp}}</b>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="send-msg">
            <input name="message" dir="auto" type="text" placeholder="How can i help you?"/>
            <button id="message" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="sendMessage(chatId)">Send</button>
        </div>
    </div>
    {{else}}
    <p>Loading...</p>
    {{/if}}

    <script>
        $(document).ready(function() {
            $('.menu-list li').click(function(event) {
                $('.full-popup').addClass('active');
            });
            $('.mdi-window-close').click(function(event) {
                $('.full-popup').removeClass('active');
            });

            $('.tab').each(function(index) {
                $(this).click(function(event) {
                    $('.tab-body').hide();
                    $('.tab > a').removeClass('active');
                    $(this).find('a').first().addClass('active');
                    $('.tab-body').eq(index).show();
                    return false;
                });
            });
        });
    </script>
</template>